
/* ABOUT */

.about {
  color: white;
  padding: 100px 40px;
  background: black;
  text-align: center;
  height: 700px;
  width: auto;
}

.about-title {
  font-size: 20px;
  color: rgb(182, 182, 182);
  letter-spacing: 10px;
}

.about-content  .description {
  font-size: 40px;
}

.education-type {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.education-type .edu {
  width: 400px;
  margin: 20px;
}

.education-type .edu-special {
  width: 700px;
}

.education-type .edu .edu-name{
  font-size: 30px;
  letter-spacing:3px;
}

.education-type .edu-special .edu-name{
  font-size: 40px;
  letter-spacing:3px;
}

.education-type .edu .edu-date{
  font-size: 14px;
  color: gray;
  letter-spacing:3px;
}

.education-type .edu-special .edu-date{
  font-size: 14px;
  color: gray;
  letter-spacing:3px;
}

.about-content h1 {
  margin-top: 100px;
  letter-spacing: 10px;
}

.personal-description {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  font-size: 50px;
}
